In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neural_network import MLPClassifier
from xgboost import XGBClassifier

In [2]:
df = pd.read_csv('loan_data.CSV')

In [3]:
df.head()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1

In [4]:
dff = pd.get_dummies(df,drop_first=True) 
dff.head()

,person_age,person_income,person_emp_exp,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status,person_gender_male,...,person_education_Master,person_home_ownership_OTHER,person_home_ownership_OWN,person_home_ownership_RENT,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,previous_loan_defaults_on_file_Yes
0,22.0,71948.0,0,35000.0,16.02,0.49,3.0,561,1,False,...,True,False,False,True,False,False,False,True,False,False
1,21.0,12282.0,0,1000.0,11.14,0.08,2.0,504,0,False,...,False,False,True,False,True,False,False,False,False,True
2,25.0,12438.0,3,5500.0,12.87,0.44,3.0,635,1,False,...,False,False,False,False,False,False,True,False,False,False
3,23.0,79753.0,0,35000.0,15.23,0.44,2.0,675,1,False,...,False,False,False,True,False,False,True,False,False,False
4,24.0,66135.0,1,35000.0,14.27,0.53,4.0,586,1,True,...,True,False,False,True,False,False,True,False,False,False

In [5]:
dff= dff.astype(int) 
dff.head()

,person_age,person_income,person_emp_exp,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status,person_gender_male,...,person_education_Master,person_home_ownership_OTHER,person_home_ownership_OWN,person_home_ownership_RENT,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,previous_loan_defaults_on_file_Yes
0,22,71948,0,35000,16,0,3,561,1,0,...,1,0,0,1,0,0,0,1,0,0
1,21,12282,0,1000,11,0,2,504,0,0,...,0,0,1,0,1,0,0,0,0,1
2,25,12438,3,5500,12,0,3,635,1,0,...,0,0,0,0,0,0,1,0,0,0
3,23,79753,0,35000,15,0,2,675,1,0,...,0,0,0,1,0,0,1,0,0,0
4,24,66135,1,35000,14,0,4,586,1,1,...,1,0,0,1,0,0,1,0,0,0

In [6]:
from sklearn.preprocessing import StandardScaler

column = ['person_age',	'person_income','person_emp_exp','loan_amnt','loan_int_rate','cb_person_cred_hist_length','credit_score'] 
scaler = StandardScaler() 
dff[column] = scaler.fit_transform(dff[column]) 
dff.head()

,person_age,person_income,person_emp_exp,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status,person_gender_male,...,person_education_Master,person_home_ownership_OTHER,person_home_ownership_OWN,person_home_ownership_RENT,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,previous_loan_defaults_on_file_Yes
0,-0.953538,-0.104090,-0.892284,4.024953,1.828999,0,-0.739109,-1.419814,1,0,...,1,0,0,1,0,0,0,1,0,0
1,-1.118963,-0.846005,-0.892284,-1.359209,0.168721,0,-0.996863,-2.549975,0,0,...,0,0,1,0,1,0,0,0,0,1
2,-0.457264,-0.844065,-0.397517,-0.646600,0.500777,0,-0.739109,0.047412,1,0,...,0,0,0,0,0,0,1,0,0,0
3,-0.788113,-0.007039,-0.892284,4.024953,1.496943,0,-0.996863,0.840507,1,0,...,0,0,0,1,0,0,1,0,0,0
4,-0.622689,-0.176371,-0.727362,4.024953,1.164888,0,-0.481354,-0.924130,1,1,...,1,0,0,1,0,0,1,0,0,0

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, f1_score, classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

In [8]:
x =dff.drop('loan_status',axis=1) 
y = dff['loan_status']

In [9]:
x_train,x_test, y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state=30)

In [10]:
stander = StandardScaler() 
x_train_scal = stander.fit_transform(x_train) 
x_test_scal = stander.transform(x_test)

In [11]:
models= {
    "logistic Regression": LogisticRegression(),
    "KNN": KNeighborsClassifier(),
    "Naive Byeas": GaussianNB(), 
    "Decission": DecisionTreeClassifier(), 
    "SVM": SVC(probability=True)
                 }

In [12]:
results= []

In [13]:
for name, model in models.items():
    model.fit(x_train_scal, y_train)
    y_pred = model.predict(x_test_scal)
    acc = accuracy_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)
    results.append({
        'Model': name,
        'Accuracy': round(acc, 4),
        'F1 Score': round(f1, 4)
    })

In [18]:
results

[{'Model': 'logistic Regression', 'Accuracy': 0.8847, 'F1 Score': 0.7414},
 {'Model': 'KNN', 'Accuracy': 0.8647, 'F1 Score': 0.6798},
 {'Model': 'Naive Byeas', 'Accuracy': 0.7473, 'F1 Score': 0.6311},
 {'Model': 'Decission', 'Accuracy': 0.8966, 'F1 Score': 0.7691},
 {'Model': 'SVM', 'Accuracy': 0.905, 'F1 Score': 0.7789}]

In [19]:
df.describe()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
count,45000.000000,45000.000000,45000.000000,4.500000e+04,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000
mean,27.764178,0.552022,1.743933,8.031905e+04,5.410333,1.696622,9583.157556,2.525911,11.006606,0.139725,5.867489,632.608756,0.507956,0.222222
std,6.045108,0.497292,1.479148,8.042250e+04,6.063532,1.440497,6314.886691,1.728305,2.978808,0.087212,3.879702,50.435865,0.499942,0.415744
min,20.000000,0.000000,0.000000,8.000000e+03,0.000000,0.000000,500.000000,0.000000,5.420000,0.000000,2.000000,390.000000,0.000000,0.000000
25%,24.000000,0.000000,0.000000,4.720400e+04,1.000000,0.000000,5000.000000,1.000000,8.590000,0.070000,3.000000,601.000000,0.000000,0.000000
50%,26.000000,1.000000,1.000000,6.704800e+04,4.000000,3.000000,8000.000000,3.000000,11.010000,0.120000,4.000000,640.000000,1.000000,0.000000
75%,30.000000,1.000000,3.000000,9.578925e+04,8.000000,3.000000,12237.250000,4.000000,12.990000,0.190000,8.000000,670.000000,1.000000,0.000000
max,144.000000,1.000000,4.000000,7.200766e+06,125.000000,3.000000,35000.000000,5.000000,20.000000,0.660000,30.000000,850.000000,1.000000,1.000000

In [20]:
cols = ['person_gender','person_education','person_home_ownership','loan_intent','previous_loan_defaults_on_file']
le = LabelEncoder()

for col in cols: 
 df[col] = le.fit_transform(df[col])

In [21]:
df.head(3)

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,0,4,71948.0,0,3,35000.0,4,16.02,0.49,3.0,561,0,1
1,21.0,0,3,12282.0,0,2,1000.0,1,11.14,0.08,2.0,504,1,0
2,25.0,0,3,12438.0,3,0,5500.0,3,12.87,0.44,3.0,635,0,1

In [22]:
col_to_scal =['person_age','person_education','person_income','person_emp_exp','person_home_ownership','loan_amnt','loan_intent','loan_int_rate','loan_percent_income','cb_person_cred_hist_length','cb_person_cred_hist_length','credit_score']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df[col_to_scal] = scaler.fit_transform(df[col_to_scal])

In [23]:
col_to_scal

['person_age',
 'person_education',
 'person_income',
 'person_emp_exp',
 'person_home_ownership',
 'loan_amnt',
 'loan_intent',
 'loan_int_rate',
 'loan_percent_income',
 'cb_person_cred_hist_length',
 'cb_person_cred_hist_length',
 'credit_score']

In [24]:
for col in df: 
    print(f'{col}:{df[col].unique()}') 
# for col in df2:
#     print(f'{col}: {df2[col].unique()}')

person_age:[0.01612903 0.00806452 0.04032258 0.02419355 0.03225806 0.0483871
 1.         0.83064516 0.         0.09677419 0.11290323 0.07258065
 0.10483871 0.06451613 0.12096774 0.08870968 0.05645161 0.08064516
 0.12903226 0.16129032 0.24193548 0.2016129  0.13709677 0.15322581
 0.19354839 0.18548387 0.16935484 0.20967742 0.14516129 0.21774194
 0.17741935 0.22580645 0.23387097 0.30645161 0.36290323 0.25
 0.26612903 0.37096774 0.33064516 0.27419355 0.2983871  0.31451613
 0.33870968 0.32258065 0.28225806 0.25806452 0.35483871 0.40322581
 0.46774194 0.39516129 0.29032258 0.42741935 0.34677419 0.59677419
 0.48387097 0.51612903 0.4516129  0.37903226 0.77419355 0.71774194]
person_gender:[0 1]
person_education:[1.   0.75 0.25 0.   0.5 ]
person_income:[0.0088906  0.00059532 0.00061701 ... 0.00332612 0.00680434 0.00349852]
person_emp_exp:[0.    0.024 0.008 0.04  0.032 0.016 0.056 0.048 1.    0.064 0.968 0.808
 0.8   0.096 0.08  0.072 0.112 0.104 0.088 0.12  0.128 0.136 0.152 0.224
 0.2   0.144 0.192 0.176 0.16  0.184 0.168 0.248 0.208 0.216 0.232 0.256
 0.24  0.992 0.32  0.344 0.264 0.352 0.272 0.336 0.296 0.36  0.288 0.328
 0.376 0.304 0.312 0.28  0.456 0.368 0.392 0.384 0.4   0.608 0.496 0.488
 0.464 0.744 0.68 ]
person_home_ownership:[1.         0.66666667 0.         0.33333333]
loan_amnt:[1.         0.01449275 0.14492754 ... 0.33997101 0.06582609 0.17869565]
loan_intent:[0.8 0.2 0.6 1.  0.4 0. ]
loan_int_rate:[0.72702332 0.39231824 0.51097394 ... 0.93895748 0.98628258 0.78875171]
loan_percent_income:[0.74242424 0.12121212 0.66666667 0.8030303  0.28787879 0.56060606
 0.53030303 0.1969697  0.51515152 0.45454545 0.40909091 0.37878788
 0.07575758 0.36363636 0.46969697 0.39393939 0.18181818 0.27272727
 0.31818182 0.65151515 0.16666667 0.60606061 0.48484848 0.15151515
 0.62121212 0.33333333 0.10606061 0.03030303 0.25757576 0.77272727
 0.57575758 0.5        0.09090909 0.04545455 0.42424242 0.06060606
 0.13636364 0.3030303  0.34848485 0.22727273 0.72727273 0.75757576
 0.21212121 0.63636364 0.01515152 0.6969697  0.43939394 0.59090909
 0.54545455 0.24242424 0.         0.86363636 0.68181818 0.78787879
 0.83333333 0.92424242 0.93939394 1.         0.81818182 0.71212121
 0.84848485 0.87878788 0.95454545 0.89393939]
cb_person_cred_hist_length:[0.03571429 0.         0.07142857 0.21428571 0.17857143 0.14285714
 0.25       0.28571429 0.10714286 0.32142857 0.5        0.46428571
 0.35714286 0.39285714 0.53571429 0.42857143 0.82142857 0.92857143
 0.89285714 0.71428571 0.60714286 0.96428571 0.75       0.85714286
 0.64285714 0.67857143 1.         0.78571429 0.57142857]
credit_score:[0.37173913 0.24782609 0.5326087  0.61956522 0.42608696 0.30869565
 0.67608696 0.42391304 0.33478261 0.54347826 0.50217391 0.5673913
 0.39782609 0.69130435 0.41956522 0.60869565 0.59347826 0.66086957
 0.69347826 0.62826087 0.63913043 0.59130435 0.65434783 0.45652174
 0.57391304 0.51304348 0.47173913 0.67391304 0.35434783 0.4326087
 0.6326087  0.38478261 0.60652174 0.46956522 0.4173913  0.56304348
 0.46086957 0.49130435 0.52391304 0.53695652 0.66304348 0.5
 0.50434783 0.55434783 0.50869565 0.39130435 0.56086957 0.56956522
 0.3673913  0.50652174 0.47608696 0.41086957 0.64782609 0.58913043
 0.37391304 0.59565217 0.37826087 0.45217391 0.36304348 0.62391304
 0.65217391 0.45434783 0.46521739 0.45869565 0.53043478 0.61086957
 0.8673913  0.32173913 0.42826087 0.63695652 0.27826087 0.49347826
 0.60434783 0.61521739 0.68695652 0.3173913  0.65       0.44565217
 0.42173913 0.54782609 0.48695652 0.45       0.51086957 0.46304348
 0.55       0.25652174 0.25       0.44130435 0.64347826 0.55652174
 0.6673913  0.48913043 0.64565217 0.56521739 0.43043478 0.5826087
 0.30652174 0.59782609 0.68043478 0.44347826 0.49565217 0.4
 0.40652174 0.57173913 0.52173913 0.58695652 0.54130435 0.4826087
 0.5173913  0.43913043 0.41304348 0.62608696 0.61304348 0.48478261
 0.3826087  0.71304348 0.20434783 0.67173913 0.57826087 0.58478261
 0.53478261 0.35652174 0.90652174 0.40869565 0.6173913  0.47391304
 0.38913043 0.51956522 0.36956522 0.34347826 0.60217391 0.62173913
 0.41521739 0.57608696 0.35       0.30217391 0.6        0.40434783
 0.52826087 0.48043478 0.58043478 0.55869565 0.33043478 0.65652174
 0.33695652 0.32608696 0.29347826 0.31956522 0.54565217 0.32391304
 0.37608696 0.7        0.21956522 0.43478261 0.39565217 0.3
 0.53913043 0.51521739 0.44782609 0.34130435 0.25434783 0.38043478
 0.65869565 0.28695652 0.52608696 0.36086957 0.23695652 0.6826087
 0.24565217 0.70434783 0.35217391 0.35869565 0.36521739 0.28478261
 0.4673913  0.39347826 0.43695652 0.71521739 0.47826087 0.31521739
 0.55217391 0.28913043 0.33913043 0.67826087 0.69782609 0.31304348
 0.90217391 0.63478261 0.12391304 0.72826087 0.63043478 0.38695652
 0.29130435 0.69565217 0.68913043 0.49782609 0.15217391 0.66521739
 0.29782609 0.26304348 0.18913043 0.40217391 0.23043478 0.64130435
 0.18695652 0.24347826 0.32826087 0.72173913 0.25217391 0.21086957
 0.30434783 0.27173913 0.2673913  0.2826087  0.72608696 0.26956522
 0.24130435 0.34565217 0.7173913  0.20869565 0.70869565 0.16304348
 0.25869565 0.27608696 0.1173913  0.2        0.66956522 0.11521739
 0.26521739 0.29565217 0.13913043 0.34782609 0.15652174 0.71086957
 0.7326087  0.70652174 0.3326087  0.12608696 0.70217391 0.71956522
 0.19782609 0.72391304 0.31086957 0.68478261 0.20217391 0.76086957
 0.22826087 0.15       0.21521739 0.28043478 0.22608696 0.23478261
 0.21304348 0.16956522 0.2173913  0.19347826 0.26086957 0.17826087
 0.19565217 0.0673913  0.18043478 0.23913043 0.22391304 0.11086957
 0.20652174 0.13043478 0.1673913  0.15434783 0.18478261 0.15869565
 0.73478261 0.75       0.14782609 0.14347826 0.73043478 0.73695652
 0.7826087  0.14130435 0.19130435 0.13695652 0.11956522 0.08913043
 0.75434783 0.2326087  0.22173913 0.10217391 0.27391304 0.1326087
 0.09565217 0.09782609 0.10652174 0.16521739 0.10869565 0.12826087
 0.17173913 0.17608696 0.73913043 0.17391304 0.74782609 0.78478261
 0.75869565 0.75217391 0.75652174 0.74565217 0.74347826 0.74130435
 0.76304348 0.77826087 0.76956522 0.80869565 0.76521739 0.77173913
 0.7673913  0.16086957 0.         0.79347826 0.77608696 0.80217391
 0.77391304 0.79565217 0.78913043 0.81304348 1.         0.80434783
 0.79130435 0.82608696 0.85652174 0.8326087  0.81521739 0.83043478
 0.06304348 0.1826087  0.08695652 0.06086957 0.06521739 0.87391304
 0.82173913 0.14565217 0.12173913 0.81956522]
previous_loan_defaults_on_file:[0 1]
loan_status:[1 0]

In [25]:
df= pd.DataFrame(df)
df.head()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,0.016129,0,1.00,0.008891,0.000,1.000000,1.000000,0.8,0.727023,0.742424,0.035714,0.371739,0,1
1,0.008065,0,0.75,0.000595,0.000,0.666667,0.014493,0.2,0.392318,0.121212,0.000000,0.247826,1,0
2,0.040323,0,0.75,0.000617,0.024,0.000000,0.144928,0.6,0.510974,0.666667,0.035714,0.532609,0,1
3,0.024194,0,0.25,0.009976,0.000,1.000000,1.000000,0.6,0.672840,0.666667,0.000000,0.619565,0,1
4,0.032258,1,1.00,0.008082,0.008,1.000000,1.000000,0.6,0.606996,0.803030,0.071429,0.426087,0,1

In [26]:
df = pd.get_dummies(df,drop_first = True)
df.head()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,0.016129,0,1.00,0.008891,0.000,1.000000,1.000000,0.8,0.727023,0.742424,0.035714,0.371739,0,1
1,0.008065,0,0.75,0.000595,0.000,0.666667,0.014493,0.2,0.392318,0.121212,0.000000,0.247826,1,0
2,0.040323,0,0.75,0.000617,0.024,0.000000,0.144928,0.6,0.510974,0.666667,0.035714,0.532609,0,1
3,0.024194,0,0.25,0.009976,0.000,1.000000,1.000000,0.6,0.672840,0.666667,0.000000,0.619565,0,1
4,0.032258,1,1.00,0.008082,0.008,1.000000,1.000000,0.6,0.606996,0.803030,0.071429,0.426087,0,1

In [27]:
x= df.drop('loan_status', axis='columns') 
y = df['loan_status'] 
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=20)

In [28]:
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(x_train)

In [29]:
print("\nScaled Features (MinMaxScaler):\n", X_scaled)

Scaled Features (MinMaxScaler):
 [[0.14563107 0.         0.         ... 0.14285714 0.57831325 1.        ]
 [0.19417476 1.         0.75       ... 0.53571429 0.57108434 1.        ]
 [0.01941748 1.         0.75       ... 0.         0.40240964 1.        ]
 ...
 [0.13592233 1.         0.         ... 0.21428571 0.52771084 1.        ]
 [0.02912621 0.         0.75       ... 0.07142857 0.62409639 0.        ]
 [0.06796117 1.         0.25       ... 0.14285714 0.75662651 0.        ]]

In [30]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(x_train,y_train)

LogisticRegression()

In [31]:
y_pred = model.predict(x_test)

In [32]:
y_pred

array([1, 0, 0, ..., 0, 1, 0], shape=(13500,))

In [33]:
print("\nPredictions:", y_pred)
print("Accuracy:", accuracy_score(y_test, y_pred))

Predictions: [1 0 0 ... 0 1 0]
Accuracy: 0.8905925925925926

In [37]:
models = {
    "Random Forest": RandomForestClassifier(),
    "Gradient Boosting": GradientBoostingClassifier(),
    "Neural Network (MLP)": MLPClassifier(max_iter=1000),
    "XGBoost": XGBClassifier(eval_metric='logloss'),
    
}

In [38]:
results = {}

for name, model in models.items():
    model.fit(x_train, y_train)
    pred = model.predict(x_test)
    acc = accuracy_score(y_test, pred)
    results[name] = acc

In [39]:
for model_name, acc in results.items():
    print(f"{model_name}: {acc:.4f}")

Random Forest: 0.9257
Gradient Boosting: 0.9212
Neural Network (MLP): 0.9139
XGBoost: 0.9302

In [40]:
best_model = max(results, key=results.get)
print("BEST MODEL =", best_model, "| Accuracy =", results[best_model])

BEST MODEL = XGBoost | Accuracy = 0.9302222222222222

In [ ]:
plt.figure(figsize=(6,4))
df['loan_status'].value_counts().plot(kind='bar')
plt.title("Loan Status Counts")
plt.xlabel("Loan Status")
plt.ylabel("Frequency")
plt.show()

In [ ]:
plt.figure(figsize=(7,5))
sns.scatterplot(data=df, x='person_income', y='loan_amnt', hue='loan_status')
plt.title("Income vs Loan Amount")
plt.show()

In [ ]:
df.isnull().sum()

In [ ]:
X = df.drop('loan_status',axis= 1) 
y =df['loan_status']

In [ ]:
X_train,X_test, y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=30)

In [ ]:
print('x_train:',X_train)
print('x_test:',X_test)
print('y_train:',y_train) 
print('y_test:',y_test)

In [ ]:
model = DecisionTreeClassifier( 
    criterion="gini",
    max_depth=7,
    min_samples_leaf=5,
    random_state= 5
)

In [ ]:
model.fit(X_train,y_train)

In [ ]:
pred = model.predict(X_test)

In [ ]:
print("Accuracy:", accuracy_score(y_test, pred))
print("\nClassification Report:\n", classification_report(y_test, pred))

In [ ]:
importances = pd.Series(model.feature_importances_, index=X.columns)
print("\nFeature Importance:\n", importances.sort_values(ascending=False))

In [ ]:
model.score(x_test,y_test)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(max_depth=5)
dt.fit(x, y)

In [ ]:
from sklearn.tree import plot_tree
plt.figure(figsize=(20,10))
plot_tree(dt, feature_names=x.columns, filled=True)
plt.show()